<div class="row">
  <div class="col-10">
    <mat-card class="mat-mdc-card mdc-card cardWithShadow text-center">
      <mat-card-content>
        <mat-card-title>Compañia</mat-card-title>
        <mat-button-toggle-group [(ngModel)]="selectedCompany" (change)="onCompanyChange()">
          <mat-button-toggle *ngFor="let item of currentCompany" [value]="item">
            {{ item }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
