<div class="row">
  <div class="col-sm-6">
    <div [formGroup]="rptEstaMensual">
      <mat-card class="cardWithShadow theme-card">
        <mat-card-header>
          <mat-card-title class="m-b-0">Control Estadístico</mat-card-title>
          <mat-card-subtitle class="m-b-0">Seleccione el año y mes para poder descargar el reporte</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="b-t-1">
          <div class="row m-t-20">
            <div class="col-lg-6">

              <!-- input -->
              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Seleccione Compa;ia</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select value="44" required formControlName="Cod_Compania">
                  <mat-option value="44">44</mat-option>
                  <mat-option value="77">77</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- input -->
              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Seleccione Mes</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select  value="0" required formControlName="Mes">
                  <mat-option value="0">Todos</mat-option>
                  <mat-option value="1">Enero</mat-option>
                  <mat-option value="2">Febrero</mat-option>
                  <mat-option value="3">Marzo</mat-option>
                  <mat-option value="4">Abril</mat-option>
                  <mat-option value="5">Mayo</mat-option>
                  <mat-option value="6">Junio</mat-option>
                  <mat-option value="7">Julio</mat-option>
                  <mat-option value="8">Agosto</mat-option>
                  <mat-option value="9">Septiembre</mat-option>
                  <mat-option value="10">Octubre</mat-option>
                  <mat-option value="11">Noviembre</mat-option>
                  <mat-option value="12">Diciembre</mat-option>
                </mat-select>
              </mat-form-field>



            </div>
            <div class="col-lg-6">
              <!-- input -->
              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Seleccione a;o</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select required formControlName="Anio">
                  <mat-option value="2024">2024</mat-option>
                  <mat-option value="2025">2025</mat-option>
                </mat-select>
              </mat-form-field>
              <!-- input -->
              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Tipo Reporte</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select value="1" required formControlName="Cod_TipoReporte">
                  <mat-option value="1">Control Mensual</mat-option>
                  <mat-option value="2">Control Anual</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>


        </mat-card-content>
        <mat-card-actions class="b-t-1">
          <button mat-flat-button color="warn" (click)="submitrptEstaMensual()">Imprimir</button>
        </mat-card-actions>
      </mat-card>
      <pre>{{rptEstaMensual.value | json}}</pre>
    </div>
  </div>
  <div class="col-sm-6">
    <mat-card class="cardWithShadow theme-card">
      <mat-card-header>
        <mat-card-title class="m-b-0">Control Estadístico</mat-card-title>
        <mat-card-subtitle class="m-b-0">Seleccione el año y mes para poder descargar el reporte</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="b-t-1">
        <div class="row m-t-20">
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">First Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" />
            </mat-form-field>

            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Select Gender</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="male">
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
                <mat-option value="other">Other</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Membership</mat-label>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1" color="primary">Free</mat-radio-button>
              <mat-radio-button value="2" color="primary">Paid</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Last Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" />
            </mat-form-field>

            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Date of Birth</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="p-16 bg-light-primary rounded m-y-20">
          <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600">
            <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler>Address
          </h5>
        </div>

        <div class="row m-t-20">
          <div class="col-lg-12">
            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Street</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" />
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">City</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" />
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">State</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" />
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Post Code</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" />
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Country</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select value="male">
                <mat-option value="india">India</mat-option>
                <mat-option value="uk">United Kingdom</mat-option>
                <mat-option value="africa">Africa</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="b-t-1">
        <button mat-flat-button color="warn">Cancel</button>
        <button mat-flat-button color="primary" class="m-l-8">Submit</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Basic Header Form</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="p-16 bg-light-primary rounded">
      <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600">
        <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler>Person Info
      </h5>
    </div>

    <div class="row m-t-20">
      <div class="col-lg-6">
        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">First Name</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" />
        </mat-form-field>

        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Select Gender</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select value="male">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="other">Other</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Membership</mat-label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" color="primary">Free</mat-radio-button>
          <mat-radio-button value="2" color="primary">Paid</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-lg-6">
        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Last Name</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" />
        </mat-form-field>

        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Date of Birth</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="p-16 bg-light-primary rounded m-y-20">
      <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600">
        <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler>Address
      </h5>
    </div>

    <div class="row m-t-20">
      <div class="col-lg-12">
        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Street</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" />
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">City</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" />
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">State</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" />
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Post Code</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" />
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Country</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select value="male">
            <mat-option value="india">India</mat-option>
            <mat-option value="uk">United Kingdom</mat-option>
            <mat-option value="africa">Africa</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="b-t-1">
    <button mat-flat-button color="warn">Cancel</button>
    <button mat-flat-button color="primary" class="m-l-8">Submit</button>
  </mat-card-actions>
</mat-card>







<mat-card class="mat-card-top chat-app cardWithShadow overflow-hidden">
  <mat-sidenav-container class="bg-white" [ngClass]="{
      'side-panel-opened': sidePanelOpened,
      'side-panel-closed': !sidePanelOpened
    }">
    <!-- ---------------------------------------------------- -->
    <!-- sidebar -->
    <!-- ---------------------------------------------------- -->
    <mat-sidenav #chatnav [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" (open)="sidePanelOpened = true"
      (close)="sidePanelOpened = false" class="shadow-none">
      <ng-scrollbar class="position-relative d-flex flex-shrink-0" style="height: 100%">
        <div class="d-flex align-items-center p-24 ">
          <img src="assets/images/profile/user-1.jpg" class="rounded-circle" width="54" />

          <div class="m-l-16">
            <h4 class="mat-subtitle-1 f-s-16 f-w-600">Julia Roberts</h4>
            <span class="f-s-12">Marketing Manager</span>
          </div>
        </div>

        <div class="p-x-24 flex-shrink-0">
          <!-- search -->
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Search Contacts" [(ngModel)]="searchText" />
            <mat-icon matSuffix>
              <i-tabler name="search" class="icon-20"></i-tabler>
            </mat-icon>
          </mat-form-field>
          <!-- dropdown -->
          <button mat-button [matMenuTriggerFor]="menu">
            <div class="d-flex align-items-center">
              Recent Chats
              <i-tabler name="chevron-down" class="icon-20 m-l-4"></i-tabler>
            </div>
          </button>
          <mat-menu #menu="matMenu" class="cardWithShadow">
            <button mat-menu-item>
              <span>Sort by Time</span>
            </button>
            <button mat-menu-item>
              <span>Sort by Unread</span>
            </button>
            <button mat-menu-item>
              <span>Mark as all Read</span>
            </button>
          </mat-menu>
        </div>

        <mat-nav-list class="chat-listing">
          @for(message of messages; track message.title) {
          <mat-list-item role="listitem" (click)="onSelect(message)"
            [class.bg-light-primary]="message === selectedMessage" lines="2">
            <div class="d-flex align-items-center p-x-16 p-b-4 h-100" matListItemTitle>
              <img src="{{ message.photo }}" alt="" width="42" class="rounded-circle" />
              <div class="m-l-16">
                <h3 class="f-w-600 mat-subtitle-1 f-s-16 lh-sm">
                  {{ message.from }}
                </h3>
                <p class="f-s-14 m-t-4 m-b-0">{{ message.subject }}</p>
              </div>
            </div>
          </mat-list-item>
          }
        </mat-nav-list>
      </ng-scrollbar>
    </mat-sidenav>
    <!-- ------------------------------------------- -->
    <!-- details -->
    <!-- ------------------------------------------- -->
    <mat-toolbar class="no-shadow chat-right-panel bg-white d-flex align-items-center p-y-8 b-b-1">
      <button (click)="chatnav.toggle()" class="m-r-10" mat-icon-button>
        <mat-icon>short_text</mat-icon>
      </button>
      <div class="d-flex align-items-center">
        <img src="{{ selectedMessage.photo }}" width="40" class="rounded-circle" />
        <div class="mat-subtitle-1 f-s-16 f-w-600 m-b-0 m-l-16">
          {{ selectedMessage.from }}
        </div>
      </div>
      <button [matMenuTriggerFor]="moredd" class="m-l-auto" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #moredd="matMenu" x-position="before" class="cardWithShadow">
        <button mat-menu-item>Contact info</button>
        <button mat-menu-item>Mute</button>
        <button mat-menu-item>Delete chat</button>
      </mat-menu>
    </mat-toolbar>

    <!-- ------------------------------------------- -->
    <!-- chat content -->
    <!-- ------------------------------------------- -->
    <ng-scrollbar style="height: calc(100vh - 390px)" class="position-relative bg-white">
      <mat-card-content class="chat-middle-box p-24">
        @for(c of selectedMessage.chat; track c) {
        <ng-container>
          <ng-template [ngIf]="c.type === 'odd'" [ngIfElse]="evenblock">
            <div class="chat-list odd">
              <div class="chat-message m-b-15">
                <div class="chat-block bg-light p-10 rounded d-flex align-items-center">
                  <span>
                    <img src="{{ selectedMessage.photo }}" class="rounded-circle" width="40" />
                  </span>
                  <span class="m-l-16 mat-subheading-1 m-b-0 f-w-400 lh-md">{{
                    c.msg
                    }}</span>
                </div>
                <p class="chat-date text-muted mat-h5 f-s-12 m-t-5 m-b-0">
                  {{ c.date | date }}
                </p>
              </div>
            </div>
          </ng-template>
          <ng-template #evenblock>
            <div class="chat-list even">
              <div class="chat-message m-b-15">
                <div
                  class="chat-block bg-light-accent lh-md p-10 rounded d-flex align-items-center mat-subheading-1 f-w-400 m-b-0">
                  {{ c.msg }}
                </div>
                <p class="chat-date text-muted mat-h5 m-0">
                  {{ c.date | date }}
                </p>
              </div>
            </div>
          </ng-template>
        </ng-container>
        }
      </mat-card-content>
    </ng-scrollbar>
    <mat-divider></mat-divider>
    <div class="p-t-20 p-l-30 p-r-30">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Message</mat-label>
        <input matInput placeholder="Send message" [(ngModel)]="msg" #myInput (keyup.enter)="OnAddMsg()" />
        <button mat-icon-button matSuffix color="primary" (click)="OnAddMsg()" [disabled]="!msg">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-sidenav-container>
</mat-card>
