
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24 m-b-24">
    <mat-card-title>Estadística personas atendidas</mat-card-title>
    <mat-card-subtitle>Anual</mat-card-subtitle>
    <div id="visitor-chart" class="p-t-30 d-flex flex-column">
      <apx-chart
        [series]="ourvisitorChart.series"
        [chart]="ourvisitorChart.chart"
        [labels]="ourvisitorChart.labels"
        [tooltip]="ourvisitorChart.tooltip"
        [legend]="ourvisitorChart.legend"
        [colors]="ourvisitorChart.colors"
        [dataLabels]="ourvisitorChart.dataLabels"
        [plotOptions]="ourvisitorChart.plotOptions"
        [stroke]="ourvisitorChart.stroke"
        [responsive]="ourvisitorChart.responsive"
      >
      </apx-chart>
    </div>
  </mat-card-content>
  <mat-card-content class="p-24">
    <div class="d-flex align-items-center justify-content-center gap-30">

      <div class="d-flex gap-12" *ngFor="let label of ourvisitorChart.labels; let i=index">
        <i-tabler name="circle-filled" class="icon-12 d-flex" [ngStyle]="{'color': ourvisitorChart.colors[i]}"></i-tabler>
        <span class="mat-subtitle-2 ">{{label}}</span>
      </div>

    </div>
  </mat-card-content>
</mat-card>
