<mat-card class="cardWithShadow overflow-hidden">
  <mat-card-content class="p-24">
    <mat-card-title>REPORTE DE PAISES</mat-card-title>

    <div class="f-s-18 f-w-500 m-t-12 d-flex align-items-center">PAISES <span class="f-s-14 f-w-400 d-flex align-items-center m-l-8"><i-tabler name="arrow-up-left" class="icon-16"></i-tabler>+9%</span></div>



    <!-- Aquí empieza la tabla simulando datos -->
    <table class="m-t-20">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td> 
          <td>30</td>
          <td>USA</td>
        </tr>
        <tr>
          <td>Alice</td>
          <td>25</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Maria</td>
          <td>35</td>
          <td>Spain</td>
        </tr>
      </tbody>
    </table>

    <table class="m-t-20">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>30</td>
          <td>USA</td>
        </tr>
        <tr>
          <td>Alice</td>
          <td>25</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Maria</td>
          <td>35</td>
          <td>Spain</td>
        </tr>
      </tbody>
    </table>

    <table class="m-t-20">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>30</td>
          <td>USA</td>
        </tr>
        <tr>
          <td>Alice</td>
          <td>25</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Maria</td>
          <td>35</td>
          <td>Spain</td>
        </tr>
      </tbody>
    </table>

    <table class="m-t-20">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>30</td>
          <td>USA</td>
        </tr>
        <tr>
          <td>Alice</td>
          <td>25</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Maria</td>
          <td>35</td>
          <td>Spain</td>
        </tr>
      </tbody>
    </table>

    <button mat-flat-button color="primary" class="m-t-30">Download</button>

    <img src="/assets/images/backgrounds/businessmen.png" alt="user" class="welcome-img" />
    <!-- Fin de la tabla simulando datos -->
  </mat-card-content>
</mat-card>
